.story-box {
  display: flex;
  flex-flow: row wrap;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid ghostwhite;
  margin: 20px 20px 20px 0;
  height: 280px;
  width: 478px;
}

a {
  text-align: center;
  text-decoration: none;
  color: lightseagreen;
  width: 20%;
}

a:hover {
  color: turquoise;
}

h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}
