.Stories {
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid ghostwhite;
}

.stories-header a {
  text-align: right;
}

.stories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1100px) {
  .stories-grid {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .Stories {
    width: 85%;
  }

  .stories-header a {
    text-align: center;
    width: 30%;
  }
}